* {
	box-sizing: border-box;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 14px;
	color: #282828;
}

h1 {
	font-size: 28px;
	font-weight: normal;
}

h2 {
	font-size: 22px;

}

form {
	width: 600px;
	margin: 0 auto;
	background: #fff;
}

fieldset {
	margin-bottom: 2px;
	background: #ececec;
	border: none;
	border-left: 4px solid #cdcccc;

	padding: 0 20px;
}

dd {
	margin-left: 0;
	margin-bottom: 20px;
}

dt {
	margin-bottom: 10px;
}

.social dl {
	display: inline-block;
}

.social dd {
	margin-right: 10px;
}


label {
	font-size: 16px;
	font-weight: bold;
	color: #666766;
}

input[type="text"],
input[type="email"],
input[type="password"], textarea {
	font-size: normal 14px Helvetica, Arial, sans-serif;
	width: 100%;
	height: 40px;
	padding-left: 4px;
	border-radius: 4px;
	border: 1px solid #2c68ac;
}

input[name*="name"] {
	width: 49%;
}

input[type="submit"] {
	font-weight: bold;
	font-size: 16px;
	color: #fff;
	background: #2c68ac;
	border: none;
	padding: 15px 30px;
	border-radius: 4px;
}

textarea {
	height: auto;
	max-height: 17.5rem;
	resize: vertical;
}

label.agree {
	font-weight: normal;	
	font-size: ;
}
